{% extends 'base.html.twig' %}

{% block title %}Irrigation Connectee{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}

	<!-- ********************************************** Style  files ************************************************** -->
    <link rel="stylesheet" href="{{ asset('css/roles/technician/sb-admin-2.css')}}">
	<link rel="stylesheet" href="{{ asset('css/technician2.css')}}">
	<!-- ************************************************************************************************************** -->

    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include "roles/technician/_elements/_navbar.html.twig" %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content" class="historic">
                {% include "roles/technician/_elements/_topbar.html.twig" %}
                <div id="DashboardPageContent" class="TechnicianLightInterface">
                    <div class="row">
                        <div class="col title">
                            <h2>Historique des mesures</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h3>Humidité</h3>
                            <canvas id="HumidityHistoricDatas" width="500px" height="400">[No canvas support]</canvas>
                        </div>
                        <div class="col-6">
                            <h3>Température</h3>
                            <canvas id="TemperatureHistoricDatas" width="500px" height="400">[No canvas support]</canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h3>
                                Vert= Sol <br/>
                                Rouge= Air
                            </h3>
                        </div>
                        <div class="col-6">
                            <h3>
                                Vert= Sol <br/>
                                Rouge= Air
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <!--<ul>
                                <li>
                                    <a class="nav-link" onclick=""><i class="bi bi-caret-left"></i></a>
                                </li>
                            </ul>-->
                        </div>
                        <div class="col-lg-6">
                            <h3>du <span id="MinimumDate"></span> au <span id="MaximumDate"></span></h3>
                        </div>
                        <div class="col-lg-3">
                            <!--<ul>
                                <li>
                                    <a class="nav-link" onclick=""><i class="bi bi-caret-right"></i></a>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="row">
                        <h3>Sélectionnez votre intervalle temporel</h3>
                        <div id="Elements" class="row content">
                            <select id="time-scale-select" class="ElementsInterface  TechnicianLightElementsInterface">
                                <option value="Day" selected>Journalier</option>
                                <option value="Week">semaines</option>
                                <option value="Mounth">Mensuel</option>
                                <option value="Year">Annuel</option>
                            </select>   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div id="DownloadsMenu">
                                    <ul>
                                        <li class="TechnicianLightElementsInterface button card-body">
                                            <a href="javascript:DFMDownloadTxtDataFile()">
                                                <i class="bi bi-download"></i> Télécharger les données au format texte
                                            </a>
                                        </li>
                                    </ul>
                                    <!--<ul>
                                        <li>
                                            <a href="javascript:DFMDownloadXlsxDataFile()" class="TechnicianLightElementsInterface button">
                                                <i class="bi bi-download"></i> Télécharger les données au format Xlsx
                                            </a>
                                        </li>
                                    </ul>-->
                                </div>
                            </div>
                    	</div>
                	</div>
            	</div>
        	</div>
    	</div>
    </div>
    
	<!-- ********************************************** Script files ************************************************** -->
    <script src="{{ asset('js/libraries/jquery.min.js')}}"></script>
    <script src="{{ asset('js/libraries/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset('js/libraries/charts/rGraph/rGraph.gauge.js')}}"></script>
    <script src="{{ asset('js/libraries/charts/rGraph/rGraph.thermometer.js')}}"></script>
    <script src="{{ asset('js/libraries/charts/rGraph/rGraph.line.js')}}"></script>
    <script src="{{ asset('js/roles/technician/dataFileMaker2.js') }}"></script>
    <script src="{{ asset('js/roles/technician/chartsHistoric.js')}}"></script>
	<!-- ************************************************************************************************************** -->
    
{% endblock %}
