{#============================================================================
   Name        : login.html.twig
   Path	       : templates/security
   Author      : BTS SNIR, Lycée Antoine Bourdelle
   Description : Login's interface creation
   Date 	   : 2022
============================================================================#}

{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/login.css')}}">

	<div class="limiter" src="{{ asset('pictures/etablissement.jpg')}}">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
 					<img class="image" src="{{ asset('pictures/logo.svg')}}" alt="">				
 				</div>
 				
				<form class="login100-form validate-form formulaire" method="post">
					<span class="login100-form-title">Connexion</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100 form-control" type="email" name="email" placeholder="Email" id="inputEmail" autocomplete="email"  required autofocus>						 
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100 form-control" type="password" name="password" placeholder="Password" id="inputPassword" autocomplete="current-password" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					 <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">connexion</button>
					</div>

					<div class="text-center p-t-12">
						<a class="txt2" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
					</div>
				</form>
				
			</div>
		</div>
	</div>

{% endblock %}
