{#============================================================================
   Name        : index.html.twig
   Path	       : templates/roles/technician
   Author      : BTS SNIR, Lycée Antoine Bourdelle
   Description : Technician's interface creation
   Date 	   : 2022
============================================================================#}

{% extends 'base.html.twig' %}

{% block title %}Bienvennue Technicien{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}

	<!-- ********************************************** Style  files ************************************************** -->
    <link rel="stylesheet" href="{{ asset('css/librairies/openlayer.css')}}">
    <link rel="stylesheet" href="{{ asset('css/map.css')}}">
	<link rel="stylesheet" href="{{ asset('css/technician.css')}}">
	<!-- ************************************************************************************************************** -->

    <main id>
        <!--Dashboard Section-->
        <section id="DashBoard" class="DashBoard">
            <div id="DashBar" class="top-side-bar row DashBar">
                <div class="col-1" class="DashLogo">
                    <a href="#">
                        <img class="logo" src="{{ asset('pictures/logo.svg')}}"/>
                    </a>
                </div>
                <ul class="col-2">
                    <li>
                        <a class="nav-link" href="javascript:DDShowMenuWhithButton('LsbButton', 'bi-list', 'bi-x-lg', 'lsb')">
                            <i id="LsbButton" class="bi bi-list"></i>
                        </a>
                    </li>
                </ul>
                <ul class="col-4">
                </ul>
                <ul class="col-1">
                    <li>
                        <a class="nav-link" href="javascript:DDDarkThemForDashboard('DTBTN', 'DashBar', 'lsb', 'DashBoard')">
                            <i id="DTBTN" class="bi bi-sun"></i>
                        </a>
                    </li>
                </ul>
                <ul class="col-1">
                    <li>
                        <a class="nav-link" href="javascript:DDShowMenuWhithButton('DropDown', 'bi-arrow-bar-down', 'bi-arrow-bar-up', 'DDI')">
                            <i id="DropDown" class="bi bi-arrow-bar-down"></i>
                        </a>
                        <div id="DDI" class="DropDownItems Hidden">
                            <ul>
                                <li><a class="nav-link" href="#">général</a></li>
                                <li><a class="nav-link" href="#">parselle 1</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="col-1">
                    <li>
                        <a class="nav-link" href="javascript:TDIrrigation('IBTN', 'tech-color-txt', 'irrigationOff')">
                            <i id="IBTN" class="bi bi-cloud-rain-heavy-fill irrigationOff"></i>
                        </a>
                    </li>
                </ul>
                <ul class="col-2">
                    <li><a class="nav-link" href="{{ path('app_logout') }}"><span id="user-name">{{ firstName }} {{ lastName }}</span><i class="bi bi-person-x"></i></a></li>
                </ul>
            </div>
            <div class="row">
                <div id="lsb" class ="col-2 left-side-bar DashBar Hidden">
                    <ul>
                        <li>
                            <a class="nav-link" href="#">
                                Vue
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="nav-link" href="javascript:DDChangeBaliseShowed('InstantStatsBoard','HistoricStatsBoard','MapBoard')">
                                <i class="bi bi-cursor"></i> carte
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="nav-link" href="#">
                                Statistiques
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="nav-link" href="javascript:DDChangeBaliseShowed('MapBoard','HistoricStatsBoard','InstantStatsBoard')">
                                <i class="bi bi-speedometer"></i> instantanné
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="nav-link" href="javascript:DDChangeBaliseShowed('MapBoard','InstantStatsBoard','HistoricStatsBoard')">
                                <i class="bi bi-graph-up"></i> Historique
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-10">
                    <div id="MapBoard" calss="MapBoard Show container">
                        <div class="row">
                            <div class="col title"><h1>Carte</h1></div>
                        </div>
                        <div class="row content">
                            <select id="layer-select">
                                <option value="">Carte Classique</option>
                                <option value="AerialWithLabelsOnDemand" selected>Carte Aérienne</option>
                                <option value="RoadOnDemand">Carte Routes</option>
                                <option value="CanvasDark">Carte Routes Sombre</option>
                            </select>   
                        </div>
                        <div class="row">
                            <section id="MAP" class="MAP">
                                <div id="mapTech" class="map"></div> 
                            </section> 
                        </div>
                    </div>
                    <div id="InstantStatsBoard" calss="StatsBoard Hidden container">
                        <div class="row">
                            <div class="col title"><h1>Mesures instantannées</h1></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <h2>Humiditée</h2>
                                    <div class="col">
                                        <h3>Air <span id="AirHumidityValue"></span>%</h3>
                                        <canvas id="AirHumidity" width="300px" height="300px"></canvas>
                                    </div>
                                    <div class="col">
                                        <h3>Sol <span id="FloorHumidityValue"></span>%</h3>
                                        <canvas id="FloorHumidity" width="300px" height="300px"></canvas>
                                    </div>
                                </div>
                                <div class="row">
                                    <h2>Temperature</h2>
                                    <div class="col">
                                        <h3>Air <span id="AirTemperatureValue"></span>°C</h3>
                                        <canvas id="AirTemperature" width="100px" height="400px"></canvas>
                                    </div>
                                    <div class="col">
                                        <h3>Sol <span id="FloorTemperatureValue"></span>°C</h3>
                                        <canvas id="FloorTemperature" width="100px" height="400px"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="HistoricStatsBoard" calss="StatsBoard Hidden container">
                        <div class="row">
                            <div class="col title">
                                <h1>Historique des mesures</h1>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        <div class="row">
                        
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <a href="javascript:DFMDownloadTxtDataFile()">
                                        <i class="bi bi-download"></i> Télécharger les données au format texte
                                    </a>
                                    <a href="javascript:DFMDownloadXlsxDataFile()">
                                        <i class="bi bi-download"></i> Télécharger les données au format Xlsx
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    
    <!-- ********************************************** Script files ************************************************** -->
    <script src="{{ asset('js/libraries/jquery.min.js')}}"></script>

	<script src="{{ asset('js/libraries/charts/rGraph/rGraph.gauge.js')}}"></script>
    <script src="{{ asset('js/libraries/charts/rGraph/rGraph.thermometer.js')}}"></script>
    <script src="{{ asset('js/roles/technician/Charts4.js')}}"></script>

	<script src="{{ asset('js/libraries/maps/openlayer.js')}}"></script>
    <script src="{{ asset('js/roles/technician/Map.js')}}"></script>
	<!-- ************************************************************************************************************** -->
    
{% endblock %}