<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="pictures/logo.svg">
        <script type="text/javascript" src="{{ asset('js/RGraph/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/RGraph/RGraph.common.core.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/RGraph/RGraph.gauge.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/RGraph/RGraph.thermometer.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/RGraph/RGraph.line.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/Dashboards.js')}}"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
