{% extends '@EasyAdmin/page/content.html.twig' %}

{% block stylesheets %}
	
{% endblock %}

{% block javascript %}
	    
	
{% endblock %}
{% block main %}

	<!-- ********************************************** Style  files ************************************************** -->
    <link rel="stylesheet" href="{{ asset('css/map.css')}}">
    <link rel="stylesheet" href="{{ asset('css/openlayer.css')}}">
	<!-- ************************************************************************************************************** -->
	
    <div class="col-12">
        <div class="card widget-inline">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card shadow-none m-0">
                            <div class="card-body text-center">
                                <i class="dripicons-briefcase text-muted" style="font-size: 24px;"></i>
                                <h3><span>{{ users }}</span></h3>
                                <p class="text-muted font-15 mb-0" id="p">Utilisateurs</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="dripicons-checklist text-muted" style="font-size: 24px;"></i>
                                <h3><span>{{ plots }}</span></h3>
                                <p class="text-muted font-15 mb-0" id="parcelle">Parcelles</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>
                                <h3><span>{{ openValve }}</span></h3>
                                <p class="text-muted font-15 mb-0">Vannes ouvertes</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="dripicons-graph-line text-muted" style="font-size: 24px;"></i>
                                <h3><span>93%</span> <i class="mdi mdi-arrow-up text-success"></i></h3>
                                <p class="text-muted font-15 mb-0">Productivity</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end row -->
            </div>
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div id="mapAdmin" class="map mt-2"></div> 
    
    <!-- ********************************************** Script files ************************************************** -->
    <script src="{{ asset('js/libraries/jquery.min.js')}}"></script>
    <script src="{{ asset('js/openlayer.js')}}"></script>
    <script src="{{ asset('js/map.js')}}"></script>
	<!-- ************************************************************************************************************** -->

{% endblock %}