{% extends 'base.html.twig' %}

{% block title %}Hello HttpController!{% endblock %}

{% block body %}
{# 	<p>{{ title }}</p>#}
{# <div>test</div>#}
{# {{ dump() }}#}
{# <p>#}
{#     test :{{ test }}#}
{#     <br>#}
{#     content :{{ content }}#}
{# </p>#}
{#     <script src="{{ asset('js/http.js')}}"></script>#}
{% endblock %}

