{#============================================================================
   Name        : check_email.html.twig
   Path	       : templates/reset_password
   Author      : BTS SNIR, Lycée Antoine Bourdelle
   Description : Check email's interface creation
   Date 	   : 2022
============================================================================#}

{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
 	<link rel="stylesheet" href="{{ asset('css/login.css')}}">

	<div class="container-login100">
		<div class='container-login100-form-btn-back'>
        	<div class='btn float-right'>
        		<div class="container-login100-form-btn">   
            		<a class="nav-link" href={{ path('app_home')}}>
                        <input class="login100-form-btn" type="button" value="Retour">
                    </a>
        		</div>
        	</div>
    	</div>
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img class="image" src="{{ asset('pictures/logo.svg')}}" alt="">				
			</div>
			<form class="login100-form validate-form formulaire" method="post">
				<span class="login100-form-title">Un e-mail vous a été envoyé !</span>
				<p class="text-center"> En cas de correspondance entre votre e-mail et l'un des comptes, 
				un mail contenant un lien de réinitialisation de votre mot de passe vous sera envoyé.
				Attention, le lien expirera dans 1H !
    			</p>
    			<br>
        		<p class="text-center">Si vous ne recevez pas de mail, vérifiez vos spams ou 
        			<a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.
        		</p>
        		<br>
        		<div class="text-center p-t-12">
					<a class="txt2" href="{{ path('app_login') }}">Me connecter ?</a>
				</div>			
			</form>
		</div>
	</div>
    
{% endblock %}