{#============================================================================
   Name        : index.html.twig
   Path	       : templates/password_change
   Author      : BTS SNIR, Lycée Antoine Bourdelle
   Description : Technician's interface password change
   Date 	   : 2022
============================================================================#}

{% extends 'base.html.twig' %}

{% block title %}Irrigation Connectee{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}

	<!-- ********************************************** Style  files ************************************************** -->
    <link rel="stylesheet" href="{{ asset('css/roles/technician/sb-admin-2.css')}}">
	<link rel="stylesheet" href="{{ asset('css/technician.css')}}">
	<!-- ************************************************************************************************************** -->

	<!-- Page Wrapper -->
    <div id="wrapper">
        {% include "roles/technician/_elements/_navbar.html.twig" %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
            
            {% include "roles/technician/_elements/_topbar.html.twig" %}

                <!-- Begin Page Content -->
                <div id="DashboardPageContent" class="container-fluid Interface TechnicianLightElementsInterface">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                    <!-- Content Row -->
                    <div class="row">
                        {{ form_start(resetForm) }}
            			<form class="login100-form validate-form formulaire" method="post">
            				<div class="col title">
                        		<h2>Changement de mot de passe</h2>
                    		</div>
{#             				<span class="login100-form-title">Changement de mot de passe</span>#}
							<br>
            				<div class="wrap-input100 validate-input">
            					<label>Mot de passe actuel</label>
                                {{ form_widget(resetForm.oldPassword) }}					
            					<span class="focus-input100"></span>
            				</div>
            				<div class="wrap-input100 validate-input">
                                {{ form_widget(resetForm.plainPassword) }}					
            					<span class="focus-input100"></span>
            				</div>
            				<br>			
            				<div class="container-login100-form-btn">
            					<button class="btn btn-info">Mettre à jour mon mot de passe</button>
            					{{ form_end(resetForm) }}
            				</div>
            			</form>
                	</div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ********************************************** Script files ************************************************** -->
    <script src="{{ asset('js/libraries/jquery.min.js')}}"></script>
    <script src="{{ asset('js/libraries/bootstrap.bundle.min.js')}}"></script>
	<!-- ************************************************************************************************************** -->
    
{% endblock %}
