{#============================================================================
   Name        : index.html.twig
   Path	       : templates/password_change
   Author      : BTS SNIR, Lycée Antoine Bourdelle
   Description : Technician's interface password change
   Date 	   : 2022
============================================================================#}

{% extends 'roles/administrator/index.html.twig' %}

{% block title %}Irrigation Connectee{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}

	<!-- ********************************************** Style  files ************************************************** -->
    <link rel="stylesheet" href="{{ asset('css/roles/technician/sb-admin-2.css')}}">
	<link rel="stylesheet" href="{{ asset('css/technician.css')}}">
	<link rel="stylesheet" href="{{ asset('css/login.css')}}">
	<!-- ************************************************************************************************************** -->
	
	<aside class="content-top ea-search-disabled">
        <div class="content-search"></div>
		<div class="navbar-custom-menu">
        	<div class="dropdown user-menu-wrapper ">
            	<a class="user-details" type="button" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false">
                	<span class="user-avatar">
                        <span class="fa-stack">
                            <i class="user-avatar-icon-background fas fa-square fa-stack-2x"></i>
                            <i class="user-avatar-icon-foreground fa fa-user fa-stack-1x fa-inverse"></i>
                        </span>
               		</span>
                    <span class="user-name">{{ app.user.firstname }} {{ app.user.lastname }}</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
                	<li class="dropdown-user-details">
                        <div>
                        	<span class="user-avatar">
                                <span class="fa-stack">
                                    <i class="user-avatar-icon-background fas fa-square fa-stack-2x"></i>
                                    <i class="user-avatar-icon-foreground fa fa-user fa-stack-1x fa-inverse"></i>
                                </span>
                    		</span>
                        </div>
                        <div>
                            <span class="user-label">Connecté en tant que</span>
                            <span class="user-name">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                        </div>
                	</li>
					<li><hr class="dropdown-divider"></li>
                    <li>
                    	<a href="https://localhost:8000/admin?menuIndex=0&amp;routeName=app_admin_password_change&amp;submenuIndex=-1" class="dropdown-item user-action " target="_self" rel="" referrerpolicy="origin-when-cross-origin">
                        	<i class="fa fa-fw fa fa-lock"></i>
                        	<span>Mot de passe</span>
                        </a>
					</li>
                    <li>
                    	<hr class="dropdown-divider">
                    </li>
                    <li>
                    	<a href="/logout" class="dropdown-item user-action " target="_self" rel="" referrerpolicy="origin-when-cross-origin">
                            <i class="fa fa-fw fa-sign-out"></i>
                            <span>Déconnexion</span>
                        </a>
                    </li>
				</ul>
        	</div>
		</div>
		
	</aside>
	
	<!-- Page Wrapper -->
    <div id="wrapper">
    	<div>
    		<a class="nav-link" href={{ path('app_admin')}}>
                <input class="btn btn-outline-secondary" type="button" value="Retour">
            </a>
        </div>
    
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div id="DashboardPageContent" class="container-fluid Interface">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                    <!-- Content Row -->
                    <div class="row">
                        {{ form_start(resetForm) }}
            			<form class="login100-form validate-form formulaire" method="post">
            				<div class="col title">
                        		<h2>Changement de mot de passe</h2>
                    		</div>
							<br>
            				<div class="validate-input">
            					<label>Mot de passe actuel</label>
                                {{ form_widget(resetForm.oldPassword) }}					
            					<span class="focus-input100"></span>
            				</div>
            				<div class="validate-input">
                                {{ form_widget(resetForm.plainPassword) }}					
            					<span class="focus-input100"></span>
            				</div>
            				<br>			
        					<button class="btn btn-outline-secondary">Mettre à jour mon mot de passe</button>
        					{{ form_end(resetForm) }}
            			</form>
                	</div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ********************************************** Script files ************************************************** -->
    <script src="{{ asset('js/libraries/jquery.min.js')}}"></script>
    <script src="{{ asset('js/libraries/bootstrap.bundle.min.js')}}"></script>
	<!-- ************************************************************************************************************** -->
    
{% endblock %}