{#============================================================================
   Name        : index.html.twig
   Path	       : templates/roles/administrator
   Author      : BTS SNIR, Lycée Antoine Bourdelle
   Description : Administrator's interface creation
   Date 	   : 2022
============================================================================#}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block stylesheets %}
	
{% endblock %}

{% block main %}

	<!-- ********************************************** Style  files ************************************************** -->
    <link rel="stylesheet" href="{{ asset('css/librairies/openlayer.css')}}">
    <link rel="stylesheet" href="{{ asset('css/map.css')}}">
	<!-- ************************************************************************************************************** -->
	
    <div class="col-12">
        <div class="card widget-inline">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card shadow-none m-0">
                            <div class="card-body text-center">
                                <i class="dripicons-briefcase text-muted" style="font-size: 24px;"></i>
                                <h3><span>{{ users }}</span></h3>
                                <p class="text-muted font-15 mb-0">Utilisateurs</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="dripicons-checklist text-muted" style="font-size: 24px;"></i>
                                <h3><span>{{ plots }}</span></h3>
                                <p class="text-muted font-15 mb-0">Parcelles</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>
                                <h3><span>{{ openValve }}</span></h3>
                                <p class="text-muted font-15 mb-0" id="vannes">Vannes ouvertes</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="dripicons-graph-line text-muted" style="font-size: 24px;"></i>
                                <h3><span>{{ cards }}</span></h3>
                                <p class="text-muted font-15 mb-0">Cartes</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end row -->
            </div>
        </div> <!-- end card-box-->
    </div> <!-- end col-->

	<div class="col-12">
    	<div class="row"
        	<div class="col-sm-12 col-lg-6">
            	<div id="mapAdmin" class="map mt-2"></div>
        	</div>
        </div>
    </div> 
    
    <div class="col-12">
    	<div class="row mt-3">
        	<div class="col-sm-12 col-lg-6">
        		<canvas id="waterConsumptionChart"></canvas>
        	</div>
        	<div class="col-sm-12 col-lg-6">
        		<canvas id="humidityLevelChart"></canvas>
            </div>
    	</div>
	</div>
	<canvas id="test"></canvas>
   
    <!-- ********************************************** Script files ************************************************** -->
    <script src="{{ asset('js/libraries/jquery.min.js')}}"></script>
    
    <script src="{{ asset('js/libraries/charts/chart.js')}}"></script>
    <script src="{{ asset('js/roles/administrator/charts.js')}}"></script>
    
    <script src="{{ asset('js/libraries/maps/openlayer.js') }}"></script>
    <script src="{{ asset('js/roles/administrator/map.js') }}"></script>
	<!-- ************************************************************************************************************** -->

{% endblock %}